<<<<<<< HEAD
=======
/* $Id: print.css,v 1.6 2007/06/10 08:55:55 goba Exp $ */
>>>>>>> 7df91a28a0b98a4e2c4a737bc64d30156be224d5

body {
  margin: 1em;
  background-color: #fff;
}
th {
  text-align: left; /* LTR */
  color: #006;
  border-bottom: 1px solid #ccc;
}
tr.odd {
  background-color: #ddd;
}
tr.even {
  background-color: #fff;
}
td {
  padding: 5px;
}
#menu {
  visibility: hidden;
}
#main {
  margin: 1em;
}
