<<<<<<< HEAD
=======
/* $Id: block.css,v 1.6 2007/11/14 09:49:30 dries Exp $ */
>>>>>>> 7df91a28a0b98a4e2c4a737bc64d30156be224d5

#blocks td.region {
  font-weight: bold;
}
#blocks tr.region-message {
  font-weight: normal;
  color: #999;
}
#blocks tr.region-populated {
  display: none;
}
.block-region {
  background-color: #ff6;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 3px;
}
