/************************ VARIABLES */
/*
* PRIMARY COLOURS 
*/
@lake: #4A708D;
@sky: #6D96A6;
@forest: #4A592A;
@moss: #9AA644;
@salmon: #D49693;
@black: #20151C;
@white: #EBF1F3;

/* ACCENT COLOURS */
@aqua: #325A66;
@yellow: #FFF8B2;
@orange: #DEA140;
@red: #A32B26;
@wine: #590D0B;

/************************* MIXINS */
/* image curl shading
* courtesy of http://www.matthamm.com/box-shadow-curl.html
*/
.image-curl {
  /* for the object itself */
  padding: 0;
  border: 1px solid @white;
/*   position: relative; */
/*   float: left; */
  background: #ffffff; /* old browsers */
  box-shadow: 0 1px 4px rgba(0, 0, 0, .4), 0 0 40px rgba(0, 0, 0, .6) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .4), 0 0 60px rgba(0, 0, 0, .6) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .4), 0 0 40px rgba(0, 0, 0, .6) inset;
}
.image-curl-after {
  /*   for the object with ':after' */
  z-index: -1; 
/*   position: absolute;  */
  background: transparent; 
  width: 70%; 
  height: 55%; 
  content: ''; 
  right: 10px; 
  bottom: 10px; 
  transform: skew(15deg) rotate(6deg);
  -webkit-transform: skew(15deg) rotate(6deg);
  -moz-transform: skew(15deg) rotate(6deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, .6); 
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, .6); 
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, .6); 
} 
.image-curl-before {
  /*   for the object with ':before' */
  z-index: -2; 
/*   position: absolute;  */
  background: transparent; 
  width: 70%; 
  height: 55%; 
  content: ''; 
  left: 10px; 
  bottom: 10px; 
  transform: skew(-15deg) rotate(-6deg); 
  -webkit-transform: skew(-15deg) rotate(-6deg); 
  -moz-transform: skew(-15deg) rotate(-6deg); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, .6); 
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, .6); 
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, .6); 
}

.col(@cols: 2, @gap: 20px) {    
  -webkit-column-count : @cols;
  -webkit-column-gap : @gap;
  -moz-column-count : @cols;
  -moz-column-gap : @gap;
}
/* rounded corners */
.rounded-corners (@radius: 15px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

/* drop shadow */
.text-drop-shadow (@colour: @black) {
  text-shadow: 1px 1px 0px #fff, 2px 2px 6px @colour;
}
.box-drop-shadow (@colour: @black, @distance: 5px, @blur: 15px) {
  -webkit-box-shadow: @distance @distance @blur @colour;
  -moz-box-shadow: @distance @distance @blur @colour;
  box-shadow: @distance @distance @blur @colour;
}

/************************** DRUPAL */
.messages {
  padding: 20px;
  background-color: @yellow;
  border-left: 10px solid @wine;
  margin: 20px 0px;
}

/************************** BASE */
body {
  background-color: @lake;
  font-size: 14pt;
  font-family:"Trebuchet MS", Trebuchet, 'Lucida Sans Unicode', 'Lucida Grand', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.4em;
}
h1 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: -1px;
  line-height: 1.1em;
  padding-bottom: 8px;
}
#page {
  background-color: @white;
}

#site-menu {
  font-size: .9em;
  line-break: 1em;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: @red;
}
#logo {
  padding: 20px 0px;
}
#site-menu {
  ul {
    background-color: @sky;
    .rounded-corners(10px);
    padding: 3px;
    text-align: center;
    margin: 4px 0px;
  }
  li {
    color: @white;
    width: 80px;
    font-size: 80%;
    border-left: 1pt solid @white;
    border-bottom: 2pt solid inherit;
    a {
      padding: 3px;
      text-shadow: 1px 1px 1px @black;
    }
    a:hover {
      border-bottom:2pt solid @wine;
      color: @yellow;
    }
  }
  .first {
    border: none;
  }
  .secondary-menu {
    background-color: @lake;
  }
  .active-trail a{
    color: @red;
    text-shadow: 0 0 5px @white;
  }
}
#submit-block {
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  width: 80px;
  font-size: 80%;
  line-height: 1em;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
  color: @white;
  background-color: @red;
  text-shadow: 1px 1px 1px @black;
  .rounded-corners(10px);
  a {
    text-transform: uppercase;
    vertical-align: middle;
  }
  a:hover {
    color: @yellow;
  }
}
/************************* FRONT */
.sub-article-image-horz, .lead-article-image-horz {
  img {
    .image-curl;
  }
  img:after {
    .image-curl-before;
  }
  img:before {
    .image-curl-before;
  }
}

.lead-article-body {
  width: 600px;
  .col;
}
#lead-article-extra-links {
  width: 80px;
  clear: none;
  background-color: @orange;
  color: @white;
}

/***************************** DIRECTORY LISTING */
.item-list {
  li.views-row-odd {
    background-color: rgba(212,105,99,.2);
  }
  li.views-row{
    padding: 15px;
    list-style-type: none;
    border-top: solid 1pt @salmon;
    margin: 0px;
  }
}
.views-field-title {
  font-size: larger;
  font-weight: bolder;
  a {
    text-decoration: none;
    color: @black;
  }
}
.views-field-body {
  color: @lake;
  p {
    margin: 0px;
    padding: 0px;
    display: inline;
  }
}
/* address */
.views-field-field-phone-value, 
.views-field-city,
.views-field-street{
  font-size: small;
  color: @black;
  line-height: 1.1em;
  display:inline-table;
  margin-right: 5px;
  br, p {display: inline;}
}
.views-field-field-phone-value {
/*   display: block; */
}

/* links */
.views-field-view-node-1,
.views-field-edit-node {
  float: left;
  margin: 5px 10px;
  a {
    background-color: @orange;
    color: @white;
    padding: 4px 10px;
    margin-top: 15px;
    .rounded-corners(5px);
    text-shadow: 2px 2px 4px @lake;
    .box-drop-shadow(@sky, 2px, 8px);
  }    
  a:hover {
    background: @wine;
  }
}
.views-field-edit-node {
  a {
    font-size: smaller;
    background-color: @red;
  }
}
.views-field-field-kvg-ad-fid img {  
  .image-curl; 
  margin: 0 auto;
  display: block;
}
.views-field-field-kvg-ad-fid img:after {  .image-curl-after; }
.views-field-field-kvg-ad-fid img:before {  .image-curl-before; }

/***************************** DIRECTORY PAGE */
#directory-title {
  font-size: 38px;
  margin: 0px;
  padding: 5px 20px;
  text-align: center;
  color: @black;  
  .text-drop-shadow(@forest);
}
.sections-inline {
  text-align: center;
  margin-bottom: 15px;
  font-size: 75%;
  font-style: italic;
  color: @moss;
  a {
    color: @forest;
  }
}
.directory-image img{
  .image-curl;
}
.directory-image img:after { .image-curl-after; }
.directory-image img:before { .image-curl-before; }

.directory-contact-info {
  padding: 10px 25px;
/*   font-size: 90%; */
  overflow: hidden;
  border: 2pt solid @sky;
  .rounded-corners(35px);
  border-top: 10px solid @sky;
  border-bottom: 10px solid @sky;
  border-left: none;
  border-right: none;
  h3 {
    margin: 0px;
  }
}

.node-directory-map {
  margin-top: 20px;
}
/************************* ARTICLE */
.meta {

}