/************************ VARIABLES */
/*
* PRIMARY COLOURS 
*/
/*WAS #EBF1F3 */
/* ACCENT COLOURS */
/************************* MIXINS */
/* image curl shading
* courtesy of http://www.matthamm.com/box-shadow-curl.html
*/
.image-curl {
  /* for the object itself */

  padding: 0;
  border: 1px solid #f5f5f5;
  /*   position: relative; */

  /*   float: left; */

  background: #ffffff;
  /* old browsers */

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.6) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 60px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.6) inset;
}
.image-curl-after {
  /*   for the object with ':after' */

  z-index: -1;
  /*   position: absolute;  */

  background: transparent;
  width: 70%;
  height: 55%;
  content: '';
  right: 10px;
  bottom: 10px;
  transform: skew(15deg) rotate(6deg);
  -webkit-transform: skew(15deg) rotate(6deg);
  -moz-transform: skew(15deg) rotate(6deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
.image-curl-before {
  /*   for the object with ':before' */

  z-index: -2;
  /*   position: absolute;  */

  background: transparent;
  width: 70%;
  height: 55%;
  content: '';
  left: 10px;
  bottom: 10px;
  transform: skew(-15deg) rotate(-6deg);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -moz-transform: skew(-15deg) rotate(-6deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
/* rounded corners */
/* drop shadow */
.buttons-edit-overide a {
  font-size: smaller;
  background-color: #a32b26;
}
/************************** DRUPAL */
.messages {
  padding: 20px;
  background-color: #fff8b2;
  border-left: 10px solid #590d0b;
  margin: 20px 0px;
}
/************************** BASE */
body {
  background-color: #4a708d;
  font-size: 14pt;
  font-family: "Trebuchet MS", Trebuchet, 'Lucida Sans Unicode', 'Lucida Grand', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.4em;
}
h1 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: -1px;
  line-height: 1.1em;
  padding-bottom: 8px;
}
#page, #content {
  background-color: #f5f5f5;
}
#site-menu {
  font-size: .9em;
  line-break: 1em;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #a32b26;
}
#site-header {
  margin: 0px;
}
#site-subheader {
  padding: 0px;
  margin: 0px;
}
#logo {
  padding: 20px 0px;
}
#site-menu {
  display: block;
}
#site-menu ul.main-menu {
  background-color: #6d96a6;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 3px;
  text-align: center;
  margin: 4px 0px;
}
#site-menu li {
  color: #f5f5f5;
  width: 80px;
  font-size: 85%;
  border-left: 1pt solid #f5f5f5;
  border-bottom: 2pt solid inherit;
}
#site-menu li a {
  padding: 3px;
  text-shadow: 1px 1px 1px #20151c;
}
#site-menu li a:hover {
  border-bottom: 2pt solid #590d0b;
  color: #fff8b2;
}
#site-menu .first {
  border: none;
}
#site-menu .secondary-menu {
  font-size: 70%;
  text-transform: uppercase;
  background-color: none;
}
#site-menu .secondary-menu li {
  float: left;
  text-align: center;
  line-height: 1.4em;
  background-color: #4a708d;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 2px 5px 0 0;
  padding: 2px;
  width: 60px;
  display: block;
}
#site-menu .active-trail a {
  color: #a32b26;
  text-shadow: 0 0 5px #f5f5f5;
}
#submit-block {
  width: 80px;
  font-size: 80%;
  line-height: 1em;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
  color: #f5f5f5;
  background-color: #a32b26;
  text-shadow: 1px 1px 1px #20151c;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#submit-block ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#submit-block a {
  text-transform: uppercase;
  vertical-align: middle;
}
#submit-block a:hover {
  color: #fff8b2;
}
/************************* FRONT */
.sub-article-image-horz img, .lead-article-image-horz img {
  /* for the object itself */

  padding: 0;
  border: 1px solid #f5f5f5;
  /*   position: relative; */

  /*   float: left; */

  background: #ffffff;
  /* old browsers */

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.6) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 60px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.6) inset;
}
.sub-article-image-horz img:after, .lead-article-image-horz img:after {
  /*   for the object with ':before' */

  z-index: -2;
  /*   position: absolute;  */

  background: transparent;
  width: 70%;
  height: 55%;
  content: '';
  left: 10px;
  bottom: 10px;
  transform: skew(-15deg) rotate(-6deg);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -moz-transform: skew(-15deg) rotate(-6deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
.sub-article-image-horz img:before, .lead-article-image-horz img:before {
  /*   for the object with ':before' */

  z-index: -2;
  /*   position: absolute;  */

  background: transparent;
  width: 70%;
  height: 55%;
  content: '';
  left: 10px;
  bottom: 10px;
  transform: skew(-15deg) rotate(-6deg);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -moz-transform: skew(-15deg) rotate(-6deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
.lead-article-title {
  font-size: 48px;
  margin: 0px;
  padding: 5px 10px;
  color: #20151c;
  text-shadow: 1px 1px 0px #ffffff, 2px 2px 6px #20151c;
  text-align: left;
  padding: 8px 0px 4px 80px;
}
.lead-article-body {
  width: 600px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  display: inline;
}
.lead-article-link,
.lead-article-edit,
.sub-article-link,
.sub-article-edit {
  float: left;
  margin: 5px 10px;
  float: none;
  display: inline-block;
}
.lead-article-link a,
.lead-article-edit a,
.sub-article-link a,
.sub-article-edit a {
  background-color: #dea140;
  color: #f5f5f5;
  padding: 4px 10px;
  margin-top: 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: 2px 2px 4px #4a708d;
  -webkit-box-shadow: 2px 2px 8px #6d96a6;
  -moz-box-shadow: 2px 2px 8px #6d96a6;
  box-shadow: 2px 2px 8px #6d96a6;
}
.lead-article-link a:hover,
.lead-article-edit a:hover,
.sub-article-link a:hover,
.sub-article-edit a:hover {
  background: #590d0b;
}
.lead-article-link a:viewed,
.lead-article-edit a:viewed,
.sub-article-link a:viewed,
.sub-article-edit a:viewed {
  background-color: #4a708d;
}
.lead-article-link {
  float: left;
}
.lead-article-edit, .sub-article-edit {
  font-size: 75%;
  padding: 2px 6px;
  text-transform: uppercase;
}
.lead-article-edit a, .sub-article-edit a {
  font-size: smaller;
  background-color: #a32b26;
}
.sub-article-link {
  font-size: 70%;
  padding: 2px 6px;
}
.sub-article-edit {
  float: right;
  clear: both;
}
.sub-article-header {
  font-size: 20px;
  margin: 0px;
  padding: 5px 10px;
  color: #20151c;
  text-shadow: 1px 1px 0px #ffffff, 2px 2px 6px #6d96a6;
}
.sub-article-body {
  display: inline;
  font-size: 90%;
  line-height: 70%;
}
/* firefox fix */
.view-id-front_page .attachment-after {
  clear: both;
  padding-top: 20px;
}
/***************************** DIRECTORY LISTING */
.item-list li.views-row-odd {
  background-color: rgba(212, 105, 99, 0.2);
}
.item-list li.views-row {
  padding: 15px;
  list-style-type: none;
  border-top: solid 1pt #d49693;
  margin: 0px;
}
.views-field-title {
  font-size: larger;
  font-weight: bolder;
}
.views-field-title a {
  text-decoration: none;
  color: #20151c;
}
.views-field-body {
  color: #4a708d;
}
.views-field-body p {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* address */
.views-field-field-phone-value, .views-field-city, .views-field-street {
  font-size: small;
  color: #20151c;
  line-height: 1.1em;
  display: inline-table;
  margin-right: 5px;
}
.views-field-field-phone-value br,
.views-field-city br,
.views-field-street br,
.views-field-field-phone-value p,
.views-field-city p,
.views-field-street p {
  display: inline;
}
.views-field-field-phone-value {
  /*   display: block; */

}
/* links */
.views-field-view-node-1, .views-field-edit-node {
  float: left;
  margin: 5px 10px;
}
.views-field-view-node-1 a, .views-field-edit-node a {
  background-color: #dea140;
  color: #f5f5f5;
  padding: 4px 10px;
  margin-top: 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: 2px 2px 4px #4a708d;
  -webkit-box-shadow: 2px 2px 8px #6d96a6;
  -moz-box-shadow: 2px 2px 8px #6d96a6;
  box-shadow: 2px 2px 8px #6d96a6;
}
.views-field-view-node-1 a:hover, .views-field-edit-node a:hover {
  background: #590d0b;
}
.views-field-view-node-1 a:viewed, .views-field-edit-node a:viewed {
  background-color: #4a708d;
}
.views-field-edit-node a {
  font-size: smaller;
  background-color: #a32b26;
}
.views-field-field-kvg-ad-fid img {
  /* for the object itself */

  padding: 0;
  border: 1px solid #f5f5f5;
  /*   position: relative; */

  /*   float: left; */

  background: #ffffff;
  /* old browsers */

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.6) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 60px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.6) inset;
  margin: 0 auto;
  display: block;
}
.views-field-field-kvg-ad-fid img:after {
  /*   for the object with ':after' */

  z-index: -1;
  /*   position: absolute;  */

  background: transparent;
  width: 70%;
  height: 55%;
  content: '';
  right: 10px;
  bottom: 10px;
  transform: skew(15deg) rotate(6deg);
  -webkit-transform: skew(15deg) rotate(6deg);
  -moz-transform: skew(15deg) rotate(6deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
.views-field-field-kvg-ad-fid img:before {
  /*   for the object with ':before' */

  z-index: -2;
  /*   position: absolute;  */

  background: transparent;
  width: 70%;
  height: 55%;
  content: '';
  left: 10px;
  bottom: 10px;
  transform: skew(-15deg) rotate(-6deg);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -moz-transform: skew(-15deg) rotate(-6deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
/***************************** DIRECTORY PAGE */
#directory-title {
  font-size: 38px;
  margin: 0px;
  padding: 5px 10px;
  color: #20151c;
  text-shadow: 1px 1px 0px #ffffff, 2px 2px 6px #6d96a6;
  text-align: center;
}
.sections-inline {
  text-align: center;
  margin-bottom: 15px;
  font-size: 75%;
  font-style: italic;
  color: #9aa644;
}
.sections-inline a {
  color: #4a592a;
}
.directory-image img {
  /* for the object itself */

  padding: 0;
  border: 1px solid #f5f5f5;
  /*   position: relative; */

  /*   float: left; */

  background: #ffffff;
  /* old browsers */

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.6) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 60px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.6) inset;
}
.directory-image img:after {
  /*   for the object with ':after' */

  z-index: -1;
  /*   position: absolute;  */

  background: transparent;
  width: 70%;
  height: 55%;
  content: '';
  right: 10px;
  bottom: 10px;
  transform: skew(15deg) rotate(6deg);
  -webkit-transform: skew(15deg) rotate(6deg);
  -moz-transform: skew(15deg) rotate(6deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
.directory-image img:before {
  /*   for the object with ':before' */

  z-index: -2;
  /*   position: absolute;  */

  background: transparent;
  width: 70%;
  height: 55%;
  content: '';
  left: 10px;
  bottom: 10px;
  transform: skew(-15deg) rotate(-6deg);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -moz-transform: skew(-15deg) rotate(-6deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
.directory-contact-info {
  padding: 10px 25px;
  /*   font-size: 90%; */

  overflow: hidden;
  border: 2pt solid #6d96a6;
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-top: 10px solid #6d96a6;
  border-bottom: 10px solid #6d96a6;
  border-left: none;
  border-right: none;
}
.directory-contact-info h3 {
  margin: 0px;
}
.node-directory-map {
  margin-top: 20px;
}
/************************* ARTICLE PAGE */
.articlepage-images img, .article-body .image img {
  /* for the object itself */

  padding: 0;
  border: 1px solid #f5f5f5;
  /*   position: relative; */

  /*   float: left; */

  background: #ffffff;
  /* old browsers */

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.6) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 60px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.6) inset;
}
.articlepage-images img:after, .article-body .image img:after {
  /*   for the object with ':after' */

  z-index: -1;
  /*   position: absolute;  */

  background: transparent;
  width: 70%;
  height: 55%;
  content: '';
  right: 10px;
  bottom: 10px;
  transform: skew(15deg) rotate(6deg);
  -webkit-transform: skew(15deg) rotate(6deg);
  -moz-transform: skew(15deg) rotate(6deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
.articlepage-images img:before, .article-body .image img:before {
  /*   for the object with ':before' */

  z-index: -2;
  /*   position: absolute;  */

  background: transparent;
  width: 70%;
  height: 55%;
  content: '';
  left: 10px;
  bottom: 10px;
  transform: skew(-15deg) rotate(-6deg);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -moz-transform: skew(-15deg) rotate(-6deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
.articlepage-title {
  clear: both;
  font-size: 18pt;
  margin: 0px;
  padding: 5px 10px;
  color: #20151c;
  text-shadow: 1px 1px 0px #ffffff, 2px 2px 6px #6d96a6;
  padding-top: 30px;
}
.articlepage-link, .articlepage-edit, .reference-link {
  float: left;
  margin: 5px 10px;
  margin: 10px 0 0 0;
}
.articlepage-link a, .articlepage-edit a, .reference-link a {
  background-color: #dea140;
  color: #f5f5f5;
  padding: 4px 10px;
  margin-top: 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: 2px 2px 4px #4a708d;
  -webkit-box-shadow: 2px 2px 8px #6d96a6;
  -moz-box-shadow: 2px 2px 8px #6d96a6;
  box-shadow: 2px 2px 8px #6d96a6;
}
.articlepage-link a:hover, .articlepage-edit a:hover, .reference-link a:hover {
  background: #590d0b;
}
.articlepage-link a:viewed, .articlepage-edit a:viewed, .reference-link a:viewed {
  background-color: #4a708d;
}
.articlepage-edit a {
  font-size: smaller;
  background-color: #a32b26;
}
/* referenced articles */
.articles-referenced .node_read_more {
  float: left;
  margin: 5px 10px;
}
.articles-referenced .node_read_more a {
  background-color: #dea140;
  color: #f5f5f5;
  padding: 4px 10px;
  margin-top: 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: 2px 2px 4px #4a708d;
  -webkit-box-shadow: 2px 2px 8px #6d96a6;
  -moz-box-shadow: 2px 2px 8px #6d96a6;
  box-shadow: 2px 2px 8px #6d96a6;
}
.articles-referenced .node_read_more a:hover {
  background: #590d0b;
}
.articles-referenced .node_read_more a:viewed {
  background-color: #4a708d;
}
.reference {
  background-color: rgba(106, 150, 166, 0.2);
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  padding: 15px;
  font-size: 80%;
  line-height: 1.4em;
  border: 2pt solid #f5f5f5;
}
.reference p {
  text-align: left;
}
.referenced-header {
  font-size: 24px;
  margin: 0px;
  padding: 5px 10px;
  color: #20151c;
  text-shadow: 1px 1px 0px #ffffff, 2px 2px 6px #6d96a6;
  text-align: center;
  padding: 10px;
}
.reference-title {
  font-size: 26px;
  margin: 0px;
  padding: 5px 10px;
  color: #20151c;
  text-shadow: 1px 1px 0px #ffffff, 2px 2px 6px #6d96a6;
  text-align: center;
}
