<<<<<<< HEAD
=======
/* $Id: comment.css,v 1.4 2007/07/24 21:33:53 goba Exp $ */
>>>>>>> 7df91a28a0b98a4e2c4a737bc64d30156be224d5

.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.preview .comment {
  background-color: #ffffea;
}
