<<<<<<< HEAD
=======
/* $Id: taxonomy.css,v 1.5 2008/01/25 21:20:26 goba Exp $ */
>>>>>>> 7df91a28a0b98a4e2c4a737bc64d30156be224d5

tr.taxonomy-term-preview {
  background-color: #EEE;
}
tr.taxonomy-term-divider-top {
  border-bottom: none;
}
tr.taxonomy-term-divider-bottom {
  border-top: 1px dotted #CCC;
}
.taxonomy-term-description {
  margin: 5px 0 20px;
}
