<<<<<<< HEAD
/**
 * @file
 * Front-end styling for the display of webforms.
 */
input.webform-calendar {
  display: none;
  padding: 3px;
  vertical-align: top;
}
html.js input.webform-calendar {
  display: inline;
}
=======

/**
 * Front-end styling for the display of webforms.
 */

input.webform-calendar {
  padding: 3px;
  vertical-align: top;
}
>>>>>>> 7df91a28a0b98a4e2c4a737bc64d30156be224d5
.webform-container-inline label {
  display: inline;
  margin-right: 1em;
}
.webform-container-inline div,
.webform-container-inline div.form-item {
  display: inline;
}
.webform-container-inline div.description {
  display: block;
}
